//----------------------------------------------------------------------------------------------------------------------
// ERROR MESSAGE
//----------------------------------------------------------------------------------------------------------------------

.error-message {
	margin: 1em 0;
	padding: .25em 1em;
	color: $color-error;
	border-radius: $border-radius;
	background: rgba($color-error, .25);
}