//----------------------------------------------------------------------------------------------------------------------
// QR CODE IMAGE
//----------------------------------------------------------------------------------------------------------------------

.qr-code {
	img {
		display: block;
		max-width: 100%;
		max-height: calc(100vh - 2em);
		margin: 2em auto;
	}
}