//----------------------------------------------------------------------------------------------------------------------
// BODY
//----------------------------------------------------------------------------------------------------------------------

body {
	font-family: $font-stack;
	font-weight: $font-weight;
	color: $font-color;
	background: $body-background-color;
}