//----------------------------------------------------------------------------------------------------------------------
// HEADLINES
//----------------------------------------------------------------------------------------------------------------------

h1 {
	font-size: 2em;
	padding: 1em;
	color: white;
	border-radius: $border-radius;
	background: $color-primary;
}

h2 {
	font-size: 2em;
	margin-top: 2em;
}

h3 {
	font-size: 1.25em;
	margin-top: 2em;
}