//----------------------------------------------------------------------------------------------------------------------
// LOADING LAYOUT
//----------------------------------------------------------------------------------------------------------------------

.loading {
	padding: 25vh 0;
	text-align: center;

	// Spinner icon
	[data-icon] {
		font-size: 4em;
	}
}