// Colors
$color-primary: rgb(90, 50, 40);
$color-secondary: rgb(250, 170, 0);
$color-success: rgb(0, 130, 0);
$color-error: rgb(210, 30, 0);

// Body
$body-background-color: rgb(240, 230, 220);
$body-background-color-dark: darken($body-background-color, 10%);

// Borders
$border-radius: .25em;

// Font
$font-size: 3vw;
$font-size-portrait: 2vw;
$font-stack: McLaren, sans-serif;
$font-weight: 400;
$font-color-dark: darken($color-primary, 50%);
$font-color: $color-primary;
$font-color-light: rgba($color-primary, .5);

// Transitions
$transition-function: cubic-bezier(.85, 0, .5, 1);
$transition-duration: .5s;
